.branch-container {
  display: flex;
  flex-direction: column;
}

.commit-button,
.prev-commits-button {
  text-align: center;
  flex: 1 0;
  padding: 5px 10px;
  font-size: medium;
  cursor: pointer;
  font-size: medium;
}

.buttons{
  display: flex;
  margin: 0 0 1px 1px;
}

.placeholder {
  padding-top: 20px;
  padding-bottom: 20px;
}