.branch-container {
  display: flex;
  flex-direction: column;
}

.commit-button,
.prev-commits-button {
  max-width: 6vw;
  min-width: 100px;
  height: 100%;
  padding: 8px;
  cursor: pointer;
  font-size: medium;
}

.buttons{
  display: flex;
  margin: 0 0 1px 1px;
}

.placeholder {
  padding-top: 20px;
  padding-bottom: 20px;
}