.branch-container {
  display: flex;
  flex-direction: column;
}

.commit-button,
.prev-commits-button {
  text-align: center;
  flex: 1 0;
  padding: 5px 10px;
  font-size: medium;
  cursor: pointer;
  font-size: medium;
}

.buttons{
  display: flex;
  margin: 0 0 1px 1px;
}

.placeholder {
  padding-top: 20px;
  padding-bottom: 20px;
}

.showcommit-list {
  list-style: none;
  text-align: start;
  padding: 0;
}

.showcommit-item {
  display: grid;
  grid-template-columns: 1fr 4fr 2fr 0.75fr; 
  gap: 10px; 
  cursor: pointer;
  padding: 10px 0;
}

.selected-commit {
  color: blue;
}

.reset-button {
  font-size: small;
  background-color: orange;
  color: white;
  font-weight: bold;
}

.showcommit__title{
  font-weight: 600;
}

.showcommit__title-branchname {
  color: purple;
}