
.user-container{
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-width: 0 0 1px 0;
}

.page-container {
  height: 40vh;
  display: flex;
  align-items: center;
}

.header {
  display:  flex;
  border: 1px solid black;
  border-width: 0 0 1px 0;
}

.list-container{
  width: 100% ;
  padding: 0;
  margin: auto;
  list-style-type: none;
}

.placeholder-text{
  padding: 10px;
}

.list {
  padding-left: 0;
}

.list-item {
  display: flex;
  align-items: center;
  padding: 1em;
  border-radius: 5px;
}

.li-text {
  color: black;
  font-size: large;
  font-weight: 500;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.list-item:hover {
  cursor: pointer;
  text-decoration: underline;
  background-color: aliceblue;
  transition: 0.2s;
}

.button-container {
  padding: 16px;
  margin-left: auto;
}

.create-repo-button {
  padding: 16px 16px;
  background-color: rgb(0, 128, 0);
  color: white;
  border: none;
  cursor: pointer;
  font-size: medium;
  transition-duration: 50ms;
}

.create-repo-button:hover {
  background-color: rgba(0, 128, 0, 0.8)
}

.bi-folder-fill{
  color: black;
  margin-right: 10px;
  font-size: x-large;
}

.title{
  font-size: 2em;
  font-weight: bold;
}