.user-container{
  width: 800px;
  margin: 16px auto;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.list-container{
  width: 100% ;
  padding: 0;
  margin: auto;
  list-style-type: none;
}

.list {
  padding-left: 0;
}

.list-item {
  display: flex;
  justify-content: center; 
  text-align: center;
  padding: 1em;
  margin: 0.5em;
  background: #ada6a667;
  border-radius: 5px;
  border: 1px solid black;
}

.li-text {
  color: black;
  font-size: 20px;
  font-weight: 500;
  font-family: Georgia, 'Times New Roman', Times, serif;
  cursor: pointer;
}

.li-text:hover {
  text-decoration: underline;
}

.button-container {
  padding: 16px;
  margin-left: auto;
}

.create-repo-button {
  padding: 16px 16px;
  background-color: rgb(0, 128, 0);
  color: white;
  border: none;
  cursor: pointer;
  font-size: small;
  transition-duration: 50ms;
}

.create-repo-button:hover {
  background-color: rgba(0, 128, 0, 0.8)
}
