.commit-container{
  display: flex;
  flex-direction: column;
}

.commit-list{
  padding-left: 0;
  list-style-type: none;
}

.commit-list-item{
  display: flex;
  padding: 1em;
  align-items: center;
}

.commit-li-text {
  color: black;
  font-size: large;
  font-weight: 500;
  font-family: Georgia, 'Times New Roman', Times, serif;
  cursor: pointer;
}

.commit-li-text:hover{
  text-decoration: underline;
}

.bi-file-earmark {
  color: black;
  margin-right: 10px;
  font-size: x-large;
} 