.commit-container {
  display: flex;
  flex-direction: column;
}

.commit-list {
  padding-left: 0;
  list-style-type: none;
  border: 1px dashed black;
  border-width: 1px 0 1px 0;
  padding: 10px 0 10px 0;
}

.commit-list-item {
  display: flex;
  padding: 8px;
  align-items: center;
}

.commit-li-text {
  color: black;
  font-size: large;
  font-weight: 500;
  font-family: Georgia, "Times New Roman", Times, serif;
  cursor: pointer;
}

.commit-list-item:hover {
  cursor: pointer;
  text-decoration: underline;
  background-color: aliceblue;
  transition: 0.2s;
}

.bi-file-earmark {
  color: black;
  margin-right: 10px;
  font-size: x-large;
}

.commit-title {
  padding-top: 10px;
  padding-right: 16px;
  display: flex;
  font-size: small;
  flex-direction: row-reverse;
}
