.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 20%;
  border: 3px solid #ccc;
  max-width: 500px; 
  min-width: 300px;
  width: 50%;
  margin: auto;
  margin-top: 10%;
  padding: 20px
}

.repo-title, .input-bar, .buttons {
  width: 100%; /* Make sure all elements take up full width of the container */
}

.input-bar {
  padding: 5px 0px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1.2em;
  flex-basis: 100%;
}


.but {
  padding: 5px 30px;
  width: 100%;
  border: 1px solid #007bff;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: 1.2em;
}

.but:hover {
  background-color: #0056b3;
}

.but:active {
  background-color: #b34500;
}

span {
  font-size: 1.2em;
}