.repo-container {
  width: 80%;
  margin: 16px auto;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.select-branch,
.create-branch {
  text-align: center;
  flex: 1 0;
  padding: 5px 10px;
  font-size: large;
}

.edit-branch {
  display: flex;
}

.header {
  display: flex;
  justify-content: space-between;
}

.repo-title{
  display: flex;
  align-items: center;
  font-size: large;
}

.bi-folder-fill{
  color: black;
  margin-right: 10px;
  font-size: x-large;
}